In [2]:
import numpy as np
import pandas as pd
import yfinance as yf
import requests

We will be focusing on WTI Crude Oil, and use Brent Crude Oil as a reference.

Continuous WTI Prices since 2008.5.1 -- present

In [8]:
wti = yf.download('CL=F', start = '2007-07-01', end = '2025-12-31')
wti.head()

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open  Volume
Ticker           CL=F       CL=F       CL=F       CL=F    CL=F
Date
2007-07-02  71.089996  71.339996  69.570000  70.519997  217108
2007-07-03  71.410004  71.489998  70.699997  71.279999  217108
2007-07-05  71.809998  72.349998  70.800003  71.250000  226307
2007-07-06  72.809998  72.940002  71.559998  71.800003  219298
2007-07-09  72.190002  73.000000  71.809998  72.750000  227743

Continuous Brent Prices since 2008.5.1 -- Present

In [9]:
brent = yf.download('BZ=F',start = '2007-07-01', end = '2025-12-31')
brent.head()

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open Volume
Ticker           BZ=F       BZ=F       BZ=F       BZ=F   BZ=F
Date
2007-07-30  75.739998  76.529999  75.440002  75.849998   2575
2007-07-31  77.050003  77.169998  75.669998  75.699997   3513
2007-08-01  75.349998  77.059998  74.860001  77.000000   3930
2007-08-02  75.760002  76.209999  74.269997  75.220001   6180
2007-08-03  74.750000  76.000000  74.529999  75.389999   4387

US Crude Oil monthly imports quantity from 2009 - 01 to 2024 - 12

In [ ]:
# Define the API URL
url = "https://api.eia.gov/v2/crude-oil-imports/data/?frequency=monthly&data[0]=quantity&start=2009-01&end=2024-12&sort[0][column]=period&sort[0][direction]=desc&sort[1][column]=quantity&sort[1][direction]=asc&offset=0&length=5000"

# Define the API parameters
params = {
    "frequency": "monthly",
    "data": ["quantity"],
    "facets": {},  # Empty facets means all data
    "start": "2009-01",
    "end": "2024-12",
    "sort": [
        {"column": "period", "direction": "desc"},
        {"column": "quantity", "direction": "asc"}
    ],
    "offset": 0,
    "length": 5000  # Maximum number of results
}

# Replace with your EIA API key
api_key = "DyAfRezUNqRWwYfUjsX9crp1UjD9G3EYsj3CCfxJ"

# Send the GET request
headers = {"X-Params": str(params)}
response = requests.get(url, headers=headers, params={"api_key": api_key})

# Check if the request was successful
if response.status_code == 200:
    data = response.json()  # Convert response to JSON
    
    # Extract the 'data' field into a Pandas DataFrame
    if "response" in data and "data" in data["response"]:
        oil_import = pd.DataFrame(data["response"]["data"])
        print("Data successfully retrieved!")
        
        # Display first few rows
        oil_import.head()
    else:
        print("No data found in response.")
else:
    print(f"Error: {response.status_code}, {response.text}")
oil_import.head()

Data successfully retrieved!

,period,originId,originName,originType,originTypeName,destinationId,destinationName,destinationType,destinationTypeName,gradeId,gradeName
0,2014-05,CTY_EC,Ecuador,CTY,Country,PT_2017,"Lake Charles, LA",PT,Port,HSW,Heavy Sweet
1,2014-05,CTY_EC,Ecuador,CTY,Country,PT_2704,"Los Angeles, CA",PT,Port,HSO,Heavy Sour
2,2014-05,CTY_EC,Ecuador,CTY,Country,PT_2820,"Martinez, CA",PT,Port,HSO,Heavy Sour
3,2014-05,CTY_EC,Ecuador,CTY,Country,PT_2830,"Carquinez St, CA",PT,Port,HSO,Heavy Sour
4,2014-05,CTY_EC,Ecuador,CTY,Country,PT_5312,"Corpus Chris, TX",PT,Port,HSO,Heavy Sour
...,...,...,...,...,...,...,...,...,...,...,...
4995,2009-01,CTY_KU,Kuwait,CTY,Country,PT_5312,"Corpus Chris, TX",PT,Port,MED,Medium
4996,2009-01,CTY_LY,Libya,CTY,Country,PT_1003,"Newark, NJ",PT,Port,LSW,Light Sweet
4997,2009-01,CTY_LY,Libya,CTY,Country,PT_1118,"Marcus Hook, PA",PT,Port,LSW,Light Sweet
4998,2009-01,CTY_LY,Libya,CTY,Country,PT_1901,"Mobile, AL",PT,Port,LSW,Light Sweet
4999,2009-01,CTY_LY,Libya,CTY,Country,PT_2013,"St Rose, LA",PT,Port,LSW,Light Sweet

In [6]:
# Define the API URL
url = "https://api.eia.gov/v2/petroleum/crd/pres/data/?frequency=annual&data[0]=value&start=1899&end=2021&sort[0][column]=period&sort[0][direction]=desc&offset=0&length=5000"
# Define the API parameters
params = {
    "frequency": "monthly",
    "data": ["quantity"],
    "facets": {},  # Empty facets means all data
    "start": "1899-01",
    "end": "2024-12",
    "sort": [
        {"column": "period", "direction": "desc"},
        {"column": "quantity", "direction": "asc"}
    ],
    "offset": 0,
    "length": 5000  # Maximum number of results
}

# Replace with your EIA API key
api_key = "DyAfRezUNqRWwYfUjsX9crp1UjD9G3EYsj3CCfxJ"

# Send the GET request
headers = {"X-Params": str(params)}
response = requests.get(url, headers=headers, params={"api_key": api_key})

# Check if the request was successful
if response.status_code == 200:
    data = response.json()  # Convert response to JSON
    
    # Extract the 'data' field into a Pandas DataFrame
    if "response" in data and "data" in data["response"]:
        Petroleum = pd.DataFrame(data["response"]["data"])
        print("Data successfully retrieved!")
        
        # Display first few rows
        Petroleum.head()
    else:
        print("No data found in response.")
else:
    print(f"Error: {response.status_code}, {response.text}")
Petroleum.head()

Data successfully retrieved!

,period,duoarea,area-name,product,product-name,process,process-name,series,series-description
0,2003,RUSF,NA,EPC0,Crude Oil,R01,Proved Reserves,RCRR01R48F_1,U.S. Federal Offshore Crude Oil Proved Reserve...
1,1998,R44F,NA,EPC0,Crude Oil,R01,Proved Reserves,RCRR01R44F_1,Gulf of Mexico Federal Offshore (Western) Cru...
2,2002,RTXSF,NA,EPC0,Crude Oil,R01,Proved Reserves,RCRR01RTXSF_1,Texas State Offshore Crude Oil Proved Reserves...
3,1999,SAR,USA-AR,EPC0,Crude Oil,R01,Proved Reserves,RCRR01SAR_1,Arkansas Crude Oil Proved Reserves (Million Ba...
4,1977,RCAL,NA,EPC0,Crude Oil,R01,Proved Reserves,RCRR01RCAL_1,California - Los Angeles Basin Onshore Crude O...

Track Imports/Eports and Movements -- Weekly Preliminary Crude Imports By Top 10 Countries of Origin - from 2010-6-4 -- Present

In [11]:

# Define the API URL
url = "https://api.eia.gov/v2/wklyCrdImprt10org/move/wimpc/data/?frequency=weekly&data[0]=value&start=2010-06-04&sort[0][column]=period&sort[0][direction]=desc&offset=0&length=5000"
# Define the API parameters
params = {
    "frequency": "monthly",
    "data": ["quantity"],
    "facets": {},  # Empty facets means all data
    "start": "1810-06",
    #"end": "2024-12",
    "sort": [
        {"column": "period", "direction": "desc"},
        {"column": "quantity", "direction": "asc"}
    ],
    "offset": 0,
    "length": 5000  # Maximum number of results
}

# Replace with your EIA API key
api_key = "DyAfRezUNqRWwYfUjsX9crp1UjD9G3EYsj3CCfxJ"

# Send the GET request
headers = {"X-Params": str(params)}
response = requests.get(url, headers=headers, params={"api_key": api_key})

# Check if the request was successful
if response.status_code == 200:
    data = response.json()  # Convert response to JSON
    
    # Extract the 'data' field into a Pandas DataFrame
    if "response" in data and "data" in data["response"]:
        wklyCrdImprt10org = pd.DataFrame(data["response"]["data"])
        print("Data successfully retrieved!")
        
        # Display first few rows
        wklyCrdImprt10org.head()
    else:
        print("No data found in response.")
else:
    print(f"Error: {response.status_code}, {response.text}")
wklyCrdImprt10org.head()

Error: 500, {"error":"Not found.","code":404}

NameError: name 'wklyCrdImprt10org' is not defined